<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>guet</display-name>
  <servlet>
    <servlet-name>Wellcome</servlet-name>
    <jsp-file>/WEB-INF/jsp/wellcome.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Regist</servlet-name>
    <jsp-file>/WEB-INF/jsp/regist.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ClubRegist</servlet-name>
    <jsp-file>/WEB-INF/jsp/clubregist.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Club</servlet-name>
    <jsp-file>/WEB-INF/jsp/clubfather.jsp</jsp-file>
  </servlet>
   <servlet>
    <servlet-name>Myclubc</servlet-name>
    <jsp-file>/WEB-INF/jsp/myclubc.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Rightclubarticle</servlet-name>
    <jsp-file>/WEB-INF/jsp/club/rightclubarticle.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Addclubarticle</servlet-name>
    <jsp-file>/WEB-INF/jsp/club/addclubarticle.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Addclubintroduce</servlet-name>
    <jsp-file>/WEB-INF/jsp/club/addclubintroduce.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Draftclub</servlet-name>
    <jsp-file>/WEB-INF/jsp/club/draftclub.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Waitaudit</servlet-name>
    <jsp-file>/WEB-INF/jsp/club/waitaudit.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Waitpublish</servlet-name>
    <jsp-file>/WEB-INF/jsp/club/waitpublish.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Clubtotalarticle</servlet-name>
    <jsp-file>/WEB-INF/jsp/club/clubtotalarticle.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Mybbs</servlet-name>
    <jsp-file>/WEB-INF/jsp/bbs/mybbs.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Addbbsarticle</servlet-name>
    <jsp-file>/WEB-INF/jsp/bbs/addbbsarticle.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Mysecond</servlet-name>
    <jsp-file>/WEB-INF/jsp/second/mysecond.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Seconddetail</servlet-name>
    <jsp-file>/WEB-INF/jsp/second/seconddetail.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Mybook</servlet-name>
    <jsp-file>/WEB-INF/jsp/book/mybook.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>Foraddnewlost</servlet-name>
  	<jsp-file>/WEB-INF/jsp/lostandfound/foraddnewlost.jsp</jsp-file>
  </servlet>
   <servlet>
    <servlet-name>Adminfather</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/adminfather.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Bbsinsert</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/bbsinsert.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>BbsdetailArticle</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/bbscontentdetail.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Useraddupdate</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/useraddupdate.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>Cluberaddupdate</servlet-name>
    <jsp-file>/WEB-INF/jsp/admin/cluberaddupdate.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>Typeinsert</servlet-name>
  	<jsp-file>/WEB-INF/jsp/admin/second/typeinsert.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListClubArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.ListClubArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DraftClubServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.DraftClubServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.DelArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubRegisterServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.ClubRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubPublishServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.ClubPublishServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubModiflyServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.ClubModiflyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubLogoutServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.ClubLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubLoginServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.ClubLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubIntroduceServle</servlet-name>
    <servlet-class>com.meng.servlet.club.ClubIntroduceServle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubDraftModifyServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.ClubDraftModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubDetailArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.ClubDetailArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewDraftServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.AddNewDraftServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewClubDraftServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.AddNewClubDraftServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewClubArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.AddNewClubArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.AddNewArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddClubIntroduceServlet</servlet-name>
    <servlet-class>com.meng.servlet.club.AddClubIntroduceServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddBbsArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.AddBbsArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBbsReplyArticle</servlet-name>
    <servlet-class>com.meng.servlet.bbs.AddBbsReplyArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewBbsArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.AddNewBbsArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewBbsDraftServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.AddNewBbsDraftServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AgreeBbsArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.AgreeBbsArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BbsDetailArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.BbsDetailArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BbsDraftModifyServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.BbsDraftModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BbsListServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.BbsListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BbsModiflyServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.BbsModiflyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DddBbsDraftServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.DddBbsDraftServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelBbsArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.DelBbsArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleBbsArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.DeleBbsArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisAgreeBbsArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.DisAgreeBbsArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DraftBbsServlet</servlet-name>
    <servlet-class>com.meng.servlet.bbs.DraftBbsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ABbsDelArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ABbsDelArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ABbsListServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ABbsListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ABbsModifyArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ABbsModifyArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ABbsSaveArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ABbsSaveArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ABbsUpdateArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ABbsUpdateArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubDelArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ClubDelArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CluberListServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.CluberListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubListServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ClubListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubModifyArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ClubModifyArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubUpdateAduitServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ClubUpdateAduitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubUpdateArticleServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ClubUpdateArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClubWaitListServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.ClubWaitListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.UserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDelServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.UserDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CluberDelServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.CluberDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.AdminRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CluberUpdateServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.CluberUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminRegisterClubServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.AdminRegisterClubServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecondListServlet</servlet-name>
    <servlet-class>com.meng.servlet.second.SecondListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindSecondTypebyTypeid</servlet-name>
    <servlet-class>com.meng.servlet.second.FindSecondTypebyTypeid</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecondDetailServlet</servlet-name>
    <servlet-class>com.meng.servlet.second.SecondDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddProductReplyServlet</servlet-name>
    <servlet-class>com.meng.servlet.second.AddProductReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelSecondReplyServlet</servlet-name>
    <servlet-class>com.meng.servlet.second.DelSecondReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForAddNewSecondHandServlet</servlet-name>
    <servlet-class>com.meng.servlet.second.ForAddNewSecondHandServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSecondHandServlet</servlet-name>
    <servlet-class>com.meng.servlet.second.AddSecondHandServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserSecondHandServlet</servlet-name>
    <servlet-class>com.meng.servlet.second.UserSecondHandServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProStateServlet</servlet-name>
    <servlet-class>com.meng.servlet.second.UpdateProStateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecondTypeServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.second.SecondTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTypeServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.second.AddTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TypeModifyServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.second.TypeModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTypeServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.second.UpdateTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelTypeServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.second.DelTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecondProductServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.second.SecondProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecondProDelServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.second.SecondProDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecondNoteServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.second.SecondNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecondNoteDelServlet</servlet-name>
    <servlet-class>com.meng.servlet.admin.second.SecondNoteDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LostAndFountListServlet</servlet-name>
    <servlet-class>com.meng.servlet.lostandfound.LostAndFountListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>com.meng.servlet.books.BookListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookTypeForMybookServlet</servlet-name>
    <servlet-class>com.meng.servlet.books.BookTypeForMybookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelLostAndFountServlet</servlet-name>
    <servlet-class>com.meng.servlet.lostandfound.DelLostAndFountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelBookCrossingServlet</servlet-name>
    <servlet-class>com.meng.servlet.books.DelBookCrossingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookStateServlet</servlet-name>
    <servlet-class>com.meng.servlet.books.UpdateBookStateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateLostStateServlet</servlet-name>
    <servlet-class>com.meng.servlet.lostandfound.UpdateLostStateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNewLostServlet</servlet-name>
    <servlet-class>com.meng.servlet.lostandfound.AddNewLostServlet</servlet-class>
  </servlet>


































  <filter>
    <filter-name>ClubFilter</filter-name>
    <filter-class>com.meng.filter.ClubFilter</filter-class>
  </filter>
   <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.meng.filter.UserFilter</filter-class>
  </filter>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.meng.filter.AdminFilter</filter-class>
  </filter>














  <servlet-mapping>
    <servlet-name>Wellcome</servlet-name>
    <url-pattern>/wellcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Regist</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubRegist</servlet-name>
    <url-pattern>/clubregist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Club</servlet-name>
    <url-pattern>/club</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Myclubc</servlet-name>
    <url-pattern>/myclubc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rightclubarticle</servlet-name>
    <url-pattern>/rightclubarticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Addclubarticle</servlet-name>
    <url-pattern>/addclubarticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Addclubintroduce</servlet-name>
    <url-pattern>/addclubintroduce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Draftclub</servlet-name>
    <url-pattern>/draftclub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Waitaudit</servlet-name>
    <url-pattern>/waitaudit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Waitpublish</servlet-name>
    <url-pattern>/waitpublish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Clubtotalarticle</servlet-name>
    <url-pattern>/clubtotalarticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Mybbs</servlet-name>
    <url-pattern>/mybbs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Addbbsarticle</servlet-name>
    <url-pattern>/addbbsarticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Mysecond</servlet-name>
    <url-pattern>/mysecond</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Seconddetail</servlet-name>
    <url-pattern>/seconddetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Mybook</servlet-name>
  	<url-pattern>/mybook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Foraddnewlost</servlet-name>
  	<url-pattern>/foraddnewlost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Adminfather</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Bbsinsert</servlet-name>
    <url-pattern>/bbsinsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Typeinsert</servlet-name>
  	<url-pattern>/typeinsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BbsdetailArticle</servlet-name>
    <url-pattern>/bbsdetailArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Useraddupdate</servlet-name>
    <url-pattern>/useraddupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Cluberaddupdate</servlet-name>
    <url-pattern>/cluberaddupdate</url-pattern>
  </servlet-mapping>
  
  
  <filter-mapping>
    <filter-name>ClubFilter</filter-name>
    <url-pattern>/myclubc</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/delbbsarticleservlet</url-pattern>
    <url-pattern>/addbbsreplyarticle</url-pattern>
    <url-pattern>/agreebbsarticleservlet</url-pattern>
    <url-pattern>/disagreebbsarticleservlet</url-pattern>
    <url-pattern>/mybbs</url-pattern>
    <url-pattern>/addproductreplyservlet</url-pattern>
    <url-pattern>/delsecondreplyservlet</url-pattern>
    <url-pattern>/foraddnewsecondhandservlet</url-pattern>
    <url-pattern>/usersecondhandservlet</url-pattern>
    <url-pattern>/mysecond</url-pattern>
    <url-pattern>/updateprostateservlet</url-pattern>
    <url-pattern>/updateloststateservlet</url-pattern>
    <url-pattern>/updatebookstateservlet</url-pattern>
    <url-pattern>/delbookcrossingservlet</url-pattern>
    <url-pattern>/dellostandfountservlet</url-pattern>
    <url-pattern>/addnewlostservlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/Admin</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListClubArticleServlet</servlet-name>
    <url-pattern>/listclubarticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DraftClubServlet</servlet-name>
    <url-pattern>/draftclubservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelArticleServlet</servlet-name>
    <url-pattern>/delarticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubRegisterServlet</servlet-name>
    <url-pattern>/clubregisterservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubPublishServlet</servlet-name>
    <url-pattern>/clubpublishservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubModiflyServlet</servlet-name>
    <url-pattern>/clubmodiflyservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubLogoutServlet</servlet-name>
    <url-pattern>/clublogoutservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubLoginServlet</servlet-name>
    <url-pattern>/clubloginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubIntroduceServle</servlet-name>
    <url-pattern>/Introduceservle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubDraftModifyServlet</servlet-name>
    <url-pattern>/clubdraftmodifyservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubDetailArticleServlet</servlet-name>
    <url-pattern>/clubdetailarticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewDraftServlet</servlet-name>
    <url-pattern>/addnewdraftservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewClubDraftServlet</servlet-name>
    <url-pattern>/addnewclubdraftservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewClubArticleServlet</servlet-name>
    <url-pattern>/addnewclubArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewArticleServlet</servlet-name>
    <url-pattern>/addnewArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddClubIntroduceServlet</servlet-name>
    <url-pattern>/addclubintroduceservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBbsArticleServlet</servlet-name>
    <url-pattern>/addbbsArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBbsReplyArticle</servlet-name>
    <url-pattern>/addbbsreplyarticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewBbsArticleServlet</servlet-name>
    <url-pattern>/addnewbbsArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewBbsDraftServlet</servlet-name>
    <url-pattern>/addnewbbsdraftservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgreeBbsArticleServlet</servlet-name>
    <url-pattern>/agreebbsarticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BbsDetailArticleServlet</servlet-name>
    <url-pattern>/bbsdetailarticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BbsDraftModifyServlet</servlet-name>
    <url-pattern>/bbsdraftmodifyservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BbsListServlet</servlet-name>
    <url-pattern>/bbslistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BbsModiflyServlet</servlet-name>
    <url-pattern>/bbsmodiflyservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DddBbsDraftServlet</servlet-name>
    <url-pattern>/addbbsdraftservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelBbsArticleServlet</servlet-name>
    <url-pattern>/delbbsarticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleBbsArticleServlet</servlet-name>
    <url-pattern>/delebbsarticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisAgreeBbsArticleServlet</servlet-name>
    <url-pattern>/disagreebbsarticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DraftBbsServlet</servlet-name>
    <url-pattern>/draftbbsservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ABbsDelArticleServlet</servlet-name>
    <url-pattern>/abbsdelArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ABbsListServlet</servlet-name>
    <url-pattern>/admin/bbslistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ABbsModifyArticleServlet</servlet-name>
    <url-pattern>/admin/abbsmodifyArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ABbsSaveArticleServlet</servlet-name>
    <url-pattern>/admin/abbssaveArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ABbsUpdateArticleServlet</servlet-name>
    <url-pattern>/admin/abbsupdateArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubDelArticleServlet</servlet-name>
    <url-pattern>/admin/delclubArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CluberListServlet</servlet-name>
    <url-pattern>/admin/cluberlistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubListServlet</servlet-name>
    <url-pattern>/admin/clublistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubModifyArticleServlet</servlet-name>
    <url-pattern>/admin/clubmodifyArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubUpdateAduitServlet</servlet-name>
    <url-pattern>/admin/clubupdateaduitservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubUpdateArticleServlet</servlet-name>
    <url-pattern>/admin/clubupdateArticleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClubWaitListServlet</servlet-name>
    <url-pattern>/admin/clubwaitlistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/admin/userlistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDelServlet</servlet-name>
    <url-pattern>/admin/userdelservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CluberDelServlet</servlet-name>
    <url-pattern>/admin/cluberdelservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/admin/userupdateservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <url-pattern>/adminregisterservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CluberUpdateServlet</servlet-name>
    <url-pattern>/admin/cluberupdateservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminRegisterClubServlet</servlet-name>
    <url-pattern>/adminregisterclubservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondListServlet</servlet-name>
    <url-pattern>/secondlistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindSecondTypebyTypeid</servlet-name>
    <url-pattern>/findsecondtypebytypeid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondDetailServlet</servlet-name>
    <url-pattern>/seconddetailservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProductReplyServlet</servlet-name>
    <url-pattern>/addproductreplyservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelSecondReplyServlet</servlet-name>
    <url-pattern>/delsecondreplyservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForAddNewSecondHandServlet</servlet-name>
    <url-pattern>/foraddnewsecondhandservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSecondHandServlet</servlet-name>
    <url-pattern>/addsecondhandservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSecondHandServlet</servlet-name>
    <url-pattern>/usersecondhandservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProStateServlet</servlet-name>
    <url-pattern>/updateprostateservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondTypeServlet</servlet-name>
    <url-pattern>/admin/secondtypeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTypeServlet</servlet-name>
    <url-pattern>/admin/addtypeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeModifyServlet</servlet-name>
    <url-pattern>/admin/typemodifyservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTypeServlet</servlet-name>
    <url-pattern>/admin/updatetypeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelTypeServlet</servlet-name>
    <url-pattern>/admin/deltypeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondProductServlet</servlet-name>
    <url-pattern>/admin/secondproductservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondProDelServlet</servlet-name>
    <url-pattern>/admin/secondprodelservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondNoteServlet</servlet-name>
    <url-pattern>/admin/secondnoteservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SecondNoteDelServlet</servlet-name>
    <url-pattern>/admin/secondnotedelservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LostAndFountListServlet</servlet-name>
    <url-pattern>/lostandfountlistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/booklistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookTypeForMybookServlet</servlet-name>
    <url-pattern>/booktypeforbookservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelLostAndFountServlet</servlet-name>
    <url-pattern>/dellostandfountservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelBookCrossingServlet</servlet-name>
    <url-pattern>/delbookcrossingservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookStateServlet</servlet-name>
    <url-pattern>/updatebookstateservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateLostStateServlet</servlet-name>
    <url-pattern>/updateloststateservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewLostServlet</servlet-name>
    <url-pattern>/addnewlostservlet</url-pattern>
  </servlet-mapping>
</web-app>